---
import Nav from "./Nav.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="max-w-3xl sm:px-8">
  
  <Nav />
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/umtcanc"
      target="_blank"
    >
      <span>GitHub</span>
    </a>
    <!-- <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
      href="https://twitter.com/Umtcanc"
      target="_blank"
    >
      <span>Twitter</span>
    </a> -->
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-blue dark:bg-none dark:hover:text-primary-green"
      href="https://linkedin.com/in/umtcanc"
      target="_blank"
    >
      <span>Linkedin</span>
    </a>
  <DarkModeToggle />

  </div>
</header>
<style lang="scss">

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin-left: -2rem;
    @include bp(mobile) {
      padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: -1.5rem ;
      
    
    }
    

    &.sticky-header{
      background: rgb(var(--color-header-bg) / .35);
      z-index: 100;
      border-radius:0 0 5px 5px;
      // margin: 0 auto;
      box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
      backdrop-filter: blur(12px);
      // outline: 1px solid rgba(#fff, .4);
      border-top: none;
      border: none;
      top: .75rem;
      // @include bp(mobile) {
      //   border-radius: 0;
      //   border: none;
      //   padding-left: 1.5rem;
      //   padding-right: 1.5rem;
      //   margin-left: -1.5rem ;
      //   background: rgb(var(--color-header-bg) / 1);

      // }
      a {
        color:var(--color-header)!important;
      }
      :global(.text-text-bold){
        color:  var(--color-header);      
      }

   }
  }
</style>

<script>
  // Scroll olayını dinleyen bir fonksiyon tanımlayın
  window.addEventListener("scroll", function() {
      var header = document.querySelector("header"); // Header elementini seçin

      // Sayfa scroll pozisyonunu alın
      var scrollPosition = window.scrollY || window.pageYOffset;

      // Scroll pozisyonuna göre header'a class ekleyin veya çıkarın
      if (scrollPosition > 0) {
          header.classList.add("sticky-header"); // Class ekle
      } else {
          header.classList.remove("sticky-header"); // Class çıkar
      }
  });
</script>
