---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Merhaba Dünyalı Dostum
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Merhaba ben <strong>Umutcan Coşkun.</strong> 24 yaşındayım, Sakarya'da yaşıyorum. 
      Renkli bir kişiliğim var ve bunu yaptığım işlere yansıtmayı seviyorum. Özenli ve programlı çalışmayı, insanlarla iletişim halinde olmayı seven birisiyim.
      Bu zamana kadar pek çok sektörde, çeşiti konumlarda görevler aldım.
      <br>
      Aktif olarak bir seneyi aşkın süredir de <a href="www.pixelatecreative.com"><strong>Pixelate Creative</strong></a> 'de frontend developer olarak çalışmaktayım.
    </p>
    <div class="flex justify-center -ml-8"> 
    <img src="/public/images/umut.png" alt="" >
    </div>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2 "><a href="mailto:" target="_blank">umtcancskn@outlook.com</a> </code>
    </p>
  </div>
</section>
