---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <nav class="hidden md:inline">
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/works">Works</HeaderLink></li>

        <!-- <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/projects">Projects</HeaderLink></li> -->
      </ul>
    </section>
  </nav>
  <nav class="md:hidden ds-fl">
    <button id="mobile-menu-open">
      <span></span>
      <span></span>
      <span></span>

    </button>
    <section
      id="mobile-menu"
      class="hide-menu fixed top-0 left-0 z-10 w-full h-full transition-transform bg-black/75 md:hidden border-primary-blue"
    >
      <div class="bg-bg-body w-[75%] h-full drop-shadow-2xl">
        <button id="mobile-menu-close" class="px-6 h-[5rem] text-lg xml-[1px]">
          <span></span>
          <span></span>

        </button>
        <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">
          <li><HeaderLink href="/">Home</HeaderLink></li>
          <li><HeaderLink href="/works">Works</HeaderLink></li>

          <!-- <li><HeaderLink href="/blog">Blog</HeaderLink></li>
          <li><HeaderLink href="/projects">Projects</HeaderLink></li> -->
        </ul>
      </div>
    </section>
  </nav>
</Fragment>

<script>
  // @ts-nocheck
  document.querySelector("#mobile-menu-open").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("hide-menu");
    menuElem.classList.add("show-menu");
    document.body.style.overflow = "hidden";
  });

  document.querySelector("#mobile-menu-close").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("show-menu");
    menuElem.classList.add("hide-menu");
    document.body.style.overflow = "auto";
  });
</script>

<style lang="scss">
  .ds-fl {
    display: flex;
  }
  .hide-menu {
    transform: translateX(-100%);
  }
  .show-menu {
    transform: translateX(0%);
  }
  #mobile-menu-open{
    span{
      display: none;
      width: 2rem;
      height: 2px;
      background-color: #fff;
      margin: 0.5rem 0;
      @include bp(mobile){
        display: block;
      }
    }
  }
  #mobile-menu-close{
    position: relative;
    margin-left: 1.5rem;
    span{
      display: none;
      width: 2rem;
      height: 2px;
      background-color: #fff;
      margin: 0.5rem 0;
      position: absolute;
      bottom: 30px;
      left: 0;
      @include bp(mobile){
        display: block;
      }
      &:nth-child(1){
        transform: rotate(-45deg);
      }
      &:nth-child(2){ 
        transform: rotate(45deg);

      }
    }
  }
 
 
  
</style>
